<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/assets/css/404.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <title>PayBot - 404</title>
</head>
<body>
    <div class="mensagem">
        <h1>404</h1>
        <h2>Pagina não encontrada verifique a url</h2>
    </div>
    <div class="img-bot">
        <img src="https://media.istockphoto.com/id/525527483/vector/sad-robot-demolition-drawing.jpg?s=612x612&w=0&k=20&c=vM0n-l3nlWBaN4TxsuXygqTtMCExPEdM5d-39r5cdfM=" alt="" srcset="">
        <a href="https://paybot.shop">
            <button type="button" class="btn btn-outline-secondary">Página principal</button>
        </a>
    </div>


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
    crossorigin="anonymous"></script>
</body>
</html>